<body >
    
<div style="background-color: rgb(247, 214, 166); height: 10vh;  right: 50cap;">
<a routerLink="recipeses" [routerLink]="['/specificRecipe','0']" style="left: 30px; font-size: 50px;">recipeses📕_____________       </a>
<a routerLink="favorite-recipes" style="margin-left: 560px;" [routerLink]="['/specificRecipe','1']"style="left: 30px; font-size: 50px;">favorite-recipes❤💖 ____________     </a>
<a routerLink="adding-recipe"  style="margin-left: 315px;"style="left: 30px; font-size: 50px;" >adding-recipe ➕</a>
 
</div>
</body>